<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3galty | About Us</title>

    {% load static %}

    <link rel="stylesheet" href="{% static '_3galty/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static '_3galty/css/AboutUs.css'%}" />
    <link rel="stylesheet" href="{% static '_3galty/font/all.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="icon"
      href="{% static '_3galty/img/Web Logo.png'%}"
      type="image/x-icon"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <nav>
      <div>
        <a href="{% url 'home' %}"
          ><img
            class="NavLogo"
            src="{% static '_3galty/img/Web Logo.png'%}"
            alt="Bicycle Logo"
            sizes=""
            srcset=""
        /></a>
      </div>

      <div>
        <ul>
          <li><a href="{% url 'HowItWork' %}">How it Work</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Log in</a></li>
        </ul>
      </div>
    </nav>

    <div class="about">
      <h1>We're 3galty</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae
        voluptatum placeat amet illum natus voluptates, sed error, eveniet
        debitis fugit ipsum voluptas ratione provident illo incidunt ex, optio
        dolorem cum ipsa qui nisi! Saepe, adipisci voluptate, obcaecati expedita
        earum non totam maxime magni, voluptatibus vero excepturi aliquid eum?
        Temporibus, ipsum. Necessitatibus illo accusantium culpa quo? Quia
        voluptate aliquam nostrum! Necessitatibus dolorem consequatur,
        exercitationem labore at molestias. Porro nulla optio hic eligendi id
        consectetur quia magnam possimus incidunt rem harum eveniet fugiat,
        consequuntur dolore quibusdam minima vel! Doloremque, ex facere?
        Molestiae nobis nihil quasi, incidunt libero velit numquam alias
        temporibus saepe optio eaque cum fugiat sequi perspiciatis in impedit
        laudantium atque dolore consequuntur iste rem, pariatur beatae quis.
        Incidunt similique in est praesentium ex quae necessitatibus eveniet
        atque sequi, laboriosam, error, obcaecati eaque. Perspiciatis quisquam
        nemo modi est in provident totam odio ex libero.
      </p>

      <p>
        Quod facere temporibus sunt ipsa eaque blanditiis quia nostrum nesciunt
        quo consectetur aspernatur, maxime deserunt, nam rem cupiditate impedit
        provident rerum fugit obcaecati aperiam sapiente? Accusamus aliquam
        impedit laborum nesciunt, ipsam, labore molestiae dicta minus deserunt
        porro sit, error molestias? Porro repellat ipsa quisquam iusto? Dolorem
        debitis inventore optio tenetur quis, accusantium eos necessitatibus?
        Voluptatibus cupiditate exercitationem sapiente rem dicta, nobis,
        nesciunt perspiciatis hic est omnis ipsum maiores quis, vitae illum
        atque facilis harum et incidunt! Corporis quisquam ex ut quia optio
        fuga, quas sunt, reiciendis quod veniam labore expedita, tempora eius.
      </p>

      <p>
        Repellat harum blanditiis repellendus ut laudantium voluptatibus
        incidunt delectus porro doloremque, assumenda est placeat consequuntur
        veritatis fuga perspiciatis, nemo pariatur. Perspiciatis neque assumenda
        tempora ipsam quam architecto alias similique quisquam maxime molestiae
        dignissimos ratione dolore officiis dolor harum sed labore, eaque eius
        perferendis aut autem. Dignissimos praesentium nam ipsam provident. Est
        blanditiis ullam et ad iure eligendi, minima id quam.
      </p>
    </div>

    <div class="image">
      <img
        src="{% static '_3galty/img/IMG_3985.JPG'%}"
        alt=""
        width="450px"
        height="550px"
      />
    </div>

    <hr />
    <div class="OurNumbeers">
      <div>
        <h1>238+ million</h1>
        <h5>Reviews on 3galty</h5>
      </div>

      <div>
        <h1>980,000+</h1>
        <h5>Websites reviewed</h5>
      </div>

      <div>
        <h1>9 billion</h1>
        <h5>Monthly impressions on our trust widgets</h5>
      </div>
    </div>

    <div class="OurNumbeers">
      <div>
        <h1>2024</h1>
        <h5>3galty lanuched</h5>
      </div>

      <div>
        <h1>850</h1>
        <h5>Employees</h5>
      </div>

      <div>
        <h1>50+</h1>
        <h5>Nationalities</h5>
      </div>
    </div>
    <hr />

    <div class="Testimonials">
      <h1>See what people are saying about 3galty</h1>
      <p>
        We aim to continuously improve, and every review helps us provide better
        experiences for everyone.
      </p>
    </div>

    <div class="reveiws">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="Carousel">
      <h4>
        Rated 5.0/5 based on <a href="#">281,496 reviews.</a> Showing our latest
        reviews.
      </h4>
    </div>

    <div class="accordion">
      <img class="starlogo" src="{% static '_3galty/img/star.png'%}" alt="" />
      <img
        class="logostar"
        src="{% static '_3galty/img/Web Logo.png'%}"
        alt=""
      />
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="{% url 'AboutUs' %}">about us</a></li>
              <li><a href="{% url 'PrivacyPolicy' %}">privacy policy</a></li>
              <li><a href="{% url 'TermsOfService' %}">terms of service</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>our services</h4>
            <ul>
              <li><a href="{% url 'StartRide' %}">start ride</a></li>
              <li><a href="{% url 'EndRide' %}">end ride</a></li>
              <li>
                <a href="{% url 'SearchByStations' %}">search by station</a>
              </li>
              <li><a href="{% url 'reviews' %}">reveiw</a></li>
              <li><a href="{% url 'premium' %}">3galty +</a></li>
              <li><a href="{% url 'checkout' %}">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="{% url 'fga' %}">FAQ</a></li>
              <li><a href="{% url 'HowItWork' %}">watch video</a></li>
              <li><a href="#">blog</a></li>
              <li><a href="{% url 'HowItWork' %}">how it work</a></li>
              <li><a href="{% url 'contact' %}">contact us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Our Rating</h4>
            <div class="ReveiwRate"></div>
          </div>
        </div>
      </div>

      <div class="social-container">
        <hr class="separator" />
        <div>
          <a href="{% url 'home' %}"
            ><img
              class="FooterLogo"
              src="{% static '_3galty/img/Web Logo.png'%}"
              alt="Bicycle Logo"
              sizes=""
              srcset=""
          /></a>
        </div>

        <ul class="social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-telegram"></i></a>
          </li>
        </ul>

        <div>
          <a class="Privacy_Terms" href="{% url 'TermsOfService' %}"
            >Terms of Service</a
          >
          <a class="Privacy_Terms" href="{% url 'PrivacyPolicy' %}"
            >Privacy Policy</a
          >
        </div>
      </div>

      <p>
        &copy;© 2024 All rights reserved by 3galty.com | Designed & Developed
        made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a
          class="TeamName"
          href="https://github.com/a7mednazeer"
          target="_blank"
          >Ahmed Nazeer</a
        >
        &
        <a class="TeamName" href="https://github.com/JANASAKR" target="_blank"
          >Jana Sakr</a
        >
      </p>
    </footer>
  </body>
</html>
