<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3galty | Search by Stations</title>

    {% load static %}

    <link rel="stylesheet" href="{% static '_3galty/css/bootstrap.min.css'%}" />
    <link
      rel="stylesheet"
      href="{% static '_3galty/css/SearchByStations.css'%}"
    />
    <link rel="stylesheet" href="{% static '_3galty/font/all.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="icon"
      href="{% static '_3galty/img/Web Logo.png'%}"
      type="image/x-icon"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body>
    <nav>
      <div>
        <a href="{% url 'home' %}"
          ><img
            class="NavLogo"
            src="{% static '_3galty/img/Web Logo.png'%}"
            alt="Bicycle Logo"
            sizes=""
            srcset=""
        /></a>
      </div>

      <div>
        <ul>
          <li><a href="{% url 'HowItWork' %}">How it Work</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Log in</a></li>
        </ul>
      </div>
    </nav>

    <h1 class="word">Search by Stations</h1>
    <div style="margin-top: 3%;margin-left: 18%;">
      <form action="{% url 'SearchByStations' %}" method="get">
        <select name="station" class="search" id="station_select">
          <option value="" disabled {% if not request.GET.station %}selected{% endif %}>
            {% if selected_station %}
              {{ selected_station.stationName }}
            {% else %}
              Choose Station
            {% endif %}
          </option>
          
          {% for s in stations %}
            <option value="{{ s.id }}" {% if request.GET.station == s.id|stringformat:"s" %}selected{% endif %}>
              {{ s.stationName }}
            </option>
          {% endfor %}
        </select>
      
        <button style="padding: 25px;" class="BtnSearch" value="Search" type="submit">
          Search
        </button>
      </form>
            
    </div>

    {% if selected_station %}
    <div class="triyangle">
      <h1>{{ selected_station.stationName }}</h1>
      <h3>Number of bicycle</h3>
      <hr class="line" />
      <div class="res">
        <div class="manual">
          <img
            src="{% static '_3galty/img/manual bike.png'%}"
            alt="Manual"
            width="80px"
            height="80px"
          />
          <h1>{{ selected_station.mNum }}</h1>
        </div>

        <div class="electrical">
          <img
            src="{% static '_3galty/img/electrical bike.png'%}"
            alt="Electrical"
            width="80px"
            height="80px"
          />
          <h1>{{ selected_station.eNum }}</h1>
        </div>
      </div>
    </div>
    <img class="image" src="{% static '_3galty/img/istockphoto.jpg'%}" alt="" />
    <a href="{% url 'StartRide' %}"
      ><button class="StartButton" type="button">Start a Ride</button></a>

    {% elif search_query %}
    <h2>No station found with the name "{{ search_query }}"</h2>
    {% endif %}


    <!-- Footer -->
    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>

      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="{% url 'AboutUs' %}">about us</a></li>
              <li><a href="{% url 'PrivacyPolicy' %}">privacy policy</a></li>
              <li><a href="{% url 'TermsOfService' %}">terms of service</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>our services</h4>
            <ul>
              <li><a href="{% url 'StartRide' %}">start ride</a></li>
              <li><a href="{% url 'EndRide' %}">end ride</a></li>
              <li>
                <a href="{% url 'SearchByStations' %}">search by station</a>
              </li>
              <li><a href="{% url 'reviews' %}">reveiw</a></li>
              <li><a href="{% url 'premium' %}">3galty +</a></li>
              <li><a href="{% url 'checkout' %}">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="{% url 'fga' %}">FAQ</a></li>
              <li><a href="{% url 'HowItWork' %}">watch video</a></li>
              <li><a href="#">blog</a></li>
              <li><a href="{% url 'HowItWork' %}">how it work</a></li>
              <li><a href="{% url 'contact' %}">contact us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Our Rating</h4>
            <div class="ReveiwRate"></div>
          </div>
        </div>
      </div>

      <div class="social-container">
        <hr class="separator" />
        <div>
          <a href="{% url 'home' %}"
            ><img
              class="FooterLogo"
              src="{% static '_3galty/img/Web Logo.png'%}"
              alt="Bicycle Logo"
              sizes=""
              srcset=""
          /></a>
        </div>

        <ul class="social-icons">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-telegram"></i></a>
          </li>
        </ul>

        <div>
          <a class="Privacy_Terms" href="{% url 'TermsOfService' %}"
            >Terms of Service</a
          >
          <a class="Privacy_Terms" href="{% url 'PrivacyPolicy' %}"
            >Privacy Policy</a
          >
        </div>
      </div>

      <p>
        &copy;© 2024 All rights reserved by 3galty.com | Designed & Developed
        made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a
          class="TeamName"
          href="https://github.com/a7mednazeer"
          target="_blank"
          >Ahmed Nazeer</a
        >
        &
        <a class="TeamName" href="https://github.com/JANASAKR" target="_blank"
          >Jana Sakr</a
        >
      </p>
    </footer>
  </body>
</html>
